<a href="https://colab.research.google.com/github/gustacoutinho/DataAnalysis-EnergyAndPIB/blob/main/Pergunta_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6: Qual a correlação entre a fonte de energia de um país com costa marítima e outro sem?

In [9]:
!pip install xlrd==1.2.0
from google.colab import drive
drive.mount("/content/drive/", force_remount=True)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)
Mounted at /content/drive/

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [11]:
sns.set(rc={'figure.figsize':(20,10)})

In [12]:
df_energy = pd.read_csv("drive/MyDrive/Trab/energy.csv", sep=';')
df_energy = df_energy[['country', 'year', 'hydro_electricity', 'wind_electricity']]
df_energy = df_energy.drop(df_energy[df_energy.year < 2010].index)
df_energy = df_energy.drop(df_energy[df_energy.year > 2020].index)

df_energy

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5,6,7,8,9,12,13,16,17,20,22,32,33,34,35,38,54,56,66,72,74,80,84,89,91,95,96,97,100,103,109,118,119,120,122,125,126,127) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

           country  year hydro_electricity  wind_electricity
110    Afghanistan  2010              0.75               0.0
111    Afghanistan  2011               0.6               0.0
112    Afghanistan  2012              0.71               0.0
113    Afghanistan  2013              0.86               0.0
114    Afghanistan  2014              0.97               0.0
...            ...   ...               ...               ...
17234     Zimbabwe  2016              2.95               0.0
17235     Zimbabwe  2017              3.93               0.0
17236     Zimbabwe  2018               5.0               0.0
17237     Zimbabwe  2019              7.26               0.0
17238     Zimbabwe  2020              7.26               0.0

[2570 rows x 4 columns]

In [13]:
df_mask = df_energy['country'] == 'Bolivia'
df_mask += df_energy['country'] == 'Peru'
filtered_df = df_energy[df_mask]

filtered_df = filtered_df.set_index("year")
filtered_df = filtered_df.sort_index()
filtered_df = filtered_df.pivot(columns='country')
filtered_df['hydro_electricity'] = filtered_df['hydro_electricity'].astype(float)
filtered_df['wind_electricity'] = filtered_df['wind_electricity'].astype(float)

filtered_df.corr(method='pearson')

                          hydro_electricity           wind_electricity  \
country                             Bolivia      Peru          Bolivia
                  country
hydro_electricity Bolivia          1.000000  0.613411         0.446972
                  Peru             0.613411  1.000000         0.962951
wind_electricity  Bolivia          0.446972  0.962951         1.000000
                  Peru             0.504386  0.935463         0.961590


country                        Peru
                  country
hydro_electricity Bolivia  0.504386
                  Peru     0.935463
wind_electricity  Bolivia  0.961590
                  Peru     1.000000